$PrimaryFont: "Open Sans", sans-serif;

$DarkBlue: #162d49;
$SecondDarkBlue: #144d80;
$lightBlue: #477ff6;
$SecondLightBlue: #3fa0d3;
$Green: #029627;
$DarkGreen: #02b11fe7;
$LightGreen: #85bd6d;
$Orange: #fe9000;
$BlackColor: #000000;
$WhiteColor: #ffffff;
$transparentColor: transparent;
$Red: #ec2323;
$BlackText: #1e2022;
$Grey: #8c98a4;
$DarkGrey: #677788;
$RougeBordeau: #a81f15;
$Blue: #377dff;
$HoverBlue: #1164ff;
$SecondBlack: #132144;
$InputFilterBorder: #e7eaf3;
